@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0 20px;
}

main {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
}

.section-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 14px;
}
